<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= photo.title %></title>
  </head>
  <body>
    <h1><%= photo.title %></h1>
    <h3>Descriptions so far:</h3>
    <ul>
      <% descriptions.forEach(d => { %>
        <li><%= d.text %></li>
      <% }) %>
    </ul>
  </body>
</html>

