<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photo Description</title>
  </head>
  <body>
    <h1>Please enter a description of this photo</h1>
    <form method="POST">
      <input name="text" placeholder="Enter description" required>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>

